<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/php/bootstrap.php"
    colors="true"
    executionOrder="random"
    resolveDependencies="true"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true"
    cacheResultFile=".phpunit.result.cache"
>
    <testsuites>
        <testsuite name="ArtsComponentRuntimeWp">
            <directory suffix="Test.php">tests/php</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Plugin.php</file>
            <file>src/Containers/ManagersContainer.php</file>
        </exclude>
    </coverage>
</phpunit>
